@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$heading-color: #000;
$outline-color: #000;
$text-color: #333;

html {
  font-family: "Space Mono", monospace;
  line-height: 1.15;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  position: absolute;
}

body,
input,
button {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Space Mono", monospace;
  color: $heading-color;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
textarea:focus {
  border: 1px solid $outline-color;
  outline: $outline-color;
}

a {
  color: $text-color;
}

button {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    text-transform: uppercase;
    background: $text-color;
    color: #fff;
    border: 1px solid $outline-color;
  }

  &.link {
    border: 1px solid transparent;
    background: transparent;
    padding: 0px;
    &:hover {
      text-decoration: underline;
    }
  }
}

button[disabled] {
  background: #ac98e8;
  cursor: not-allowed;
}
